.left-part{
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(17 16 16 / 50%);
    font-size: 16px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #ff6a59;
}
.icon-left-part{
    color: #ff6a59;
    font-size: 20px;
    padding-right: 10px;
}
.light.badge-primary {
    background-color: rgb(255 108 91 / 10%);
    color: #ff6a59;
    margin-left: 10px;
}
.text-made{
    color: rgb(64, 61, 61);
    font-size: 13px;
}

/**/
.partMain{
    position: relative;
    top: 25px;
    left: 43px;
}
.partFirst {
    box-shadow: 0px 1px 0px 1px white;
    height: 62px;
}
.user-form{
    font-size: 29px;
    font-weight: 700;
}
button.btn.btn-outline-light {
    border: none;
}
button.btn:hover.btn-outline-light {
    background: none;
}
i.bi.bi-list {
    color: black;
    font-size: 34px;
}
.input-group.search-form {
    width: 242px;
}
span.input-group-text.box-search{
    background: #fff;
    border-right: none;
    color: #ff6a59;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px
}
input.form-control {
    border-left: none;
}

/**/
div#accordionPanelsStayOpenExample {
    position: relative;
    top: 20px;
    width: 736px;
    right: 20px;
}
.text-filter{
    color: #ff6a59;
    font-size: 20px;
    font-weight: 700;
}
button.btn.btn-success.filter-form {
    font-weight: 700;
    font-weight: 500;
    background: #ff6a59;
    border-color: #ff6a59;
}
button.btn.btn-success.filter-form:hover {
    background: #ff3c26;
    border-color: #ff3c26;
}
button.btn.btn-success.clear-form {
    font-weight: 700;
    background-color: white;
    color: #ff6a59;
    border-color: #ff6a59;
    position: relative;
    left: 26px;
    line-height: 48px;
}
button.btn.btn-success.clear-form:hover {
    background-color: #ff3c26;
    color: white;
}
.label-info {
    color: #fff;
    border-radius: 10px;
}

.text-center {
    text-align: center !important;
}
.copyToClip i {
    transform: scale(1.5);
    color: #ff6a59;
    cursor: pointer;
    font-size: 23px;
}
a.btn.btn-secondary.shadow.btn-xs.sharp.me-1 {
    color: #fff;
    background-color: #ff6a59;
    border-color: #ff6a59;
}
a.btn.btn-primary.shadow.btn-xs.sharp.me-1 {
    color: #fff;
    background-color: #ff6a59;
    border-color: #ff6a59;
}

/**/
.partThree{
    position: relative;
    top: 45px;
    left: -22px;
    background: white;
    border-radius: 10px;
    width: 747px;
}
.row.part-hearder {
    line-height: 65px;
}
.text-blogs {
    line-height: 50px;
    color: #ff6a59;
    font-weight: 600;
}
a.btn.btn-success.delete-table {
    background: #ff6a59;
    border: none;
}

.btn-addusers{
    background-color: #ff6a59;
}
.btn-addusers:hover{
    background-color: #ff3c26;
}
button.btn.btn-color {
    color: white;
    font-weight: 600;
}
input#checkboxNoLabel {
    position: relative;
    left: 20px;
}
.text-success {
    background-color: #56c760;
    border-radius: 15px;
}
.partPagination{
    padding-top: 23px;
}
.pagePag, a.page-link{
    color: #ff6a59;
}
a.page-link:hover {
    background: #ff6a59;
    color: white;
}
span.pagePag:hover{
    color: white;
}
.table-part{
    width: 744px;
    position: relative;
    left: 16px;
}
table.table.table-lg.table-size {
    width: 171%;
}

.col-md-1.part-rigt {
    position: relative;
    top: 50px;
}
.part-rigt{
    background: white;
    height: 344px;
    line-height: 73px;
    border-top-left-radius: 11px;
    border-bottom-left-radius: 10px;
}
img.nation-eng {
    height: 40px;
}
.icon-right {
    font-size: 21px;
    background: #fbecef;
    padding: 7px;
    border-radius: 4px;
}
.text-eng{
    position: relative;
    bottom: 20px;
    left: 5px;
    font-weight: 500;
}