.left-part{
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(85 74 74 / 50%);
    font-size: 16px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #ff6a59;
}
.icon-left-part{
    color: #ff6a59;
    font-size: 20px;
    padding-right: 10px;
}
.light.badge-primary {
    background-color: rgb(255 108 91 / 10%);
    color: #ff6a59;
    margin-left: 10px;
}
.text-made{
    color: gray;
    font-size: 13px;
}

/**/
.partMain{
    position: relative;
    top: 25px;
    left: 43px;
}
.partFirst {
    box-shadow: 0px 1px 0px 1px white;
    height: 62px;
}
.user-form{
    font-size: 29px;
    font-weight: 700;
}
button.btn.btn-outline-light {
    border: none;
}
button.btn:hover.btn-outline-light {
    background: none;
}
i.bi.bi-list {
    color: black;
    font-size: 34px;
}
.input-group.search-form {
    width: 242px;
}
span.input-group-text.box-search{
    background: #fff;
    border-right: none;
    color: #ff6a59;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px
}
input.form-control {
    border-left: none;
}
/**/
.partTwo {
    margin-top: 30px;
}
.img_bg_join {
    height: 70%;
    margin-left: -14px
}
.img_chart_learn {
    height: 70%;
    width: 106%;
    margin-left: -11px;
}
.text_jon_lorem{
    position: relative;
    bottom: 137px;
}
.partThree{ 
    position: relative;
    bottom: 54px;
    right: 13px;
}
.bg_partThree{
    width: 100%;
}
.bg_tramf_two{
    margin-left: 10px;
}
.bg_tramf_three{
    margin-left: 20px
}

.img_chart{
    background-image: url(./img/Screenshot_1.png);
    background-size: 100%;
}
/**/
.col-md-1.part-rigt{
    position: relative;
    top: 134px;
    background: white;
    height: 344px;
    line-height: 73px;
    border-top-left-radius: 11px;
    border-bottom-left-radius: 10px;
}
img.nation-eng {
    height: 40px;
}
.icon-right {
    font-size: 21px;
    background: #fbecef;
    padding: 7px;
    border-radius: 4px;
}
.text-eng{
    position: relative;
    bottom: 20px;
    left: 5px;
    font-weight: 500;
}